Exercises/Ex2/ex2
Exercises/Ex2/ex2.o
Exercises/Ex2/bin/x86_64/linux/release/ex2
Homework2/a/homework1a
Homework2/a/homework1a.o
Homework2/a/bin/x86_64/linux/release/homework1a
Homework2/b/homework1b
Homework2/b/homework1b.o
Homework2/b/bin/x86_64/linux/release/homework1b
Homework3/matrices.txt
Homework3/homework3
Homework3/homework3.o
Homework3/bin/x86_64/linux/release/homework3
Homework4/a/homework4
Homework4/a/homework4.o
Homework4/a/bin/x86_64/linux/release/homework4
Homework4/b/homework4
Homework4/b/homework4.o
Homework4/b/bin/x86_64/linux/release/homework4
Homework4/c/homework4
Homework4/c/homework4.o
Homework4/c/bin/x86_64/linux/release/homework4
Homework4/d/homework4
Homework4/d/homework4.o
Homework4/d/bin/x86_64/linux/release/homework4
