Exercises/Ex2/ex2
Exercises/Ex2/ex2.o
Exercises/Ex2/bin/x86_64/linux/release/ex2
Homework2/a/homework1a
Homework2/a/homework1a.o
Homework2/a/bin/x86_64/linux/release/homework1a
Homework2/b/homework1b
Homework2/b/homework1b.o
Homework2/b/bin/x86_64/linux/release/homework1b
Homework3/matrices.txt
Homework3/homework3
Homework3/homework3.o
Homework3/bin/x86_64/linux/release/homework3
Homework4/a/homework4
Homework4/a/homework4.o
Homework4/a/bin/x86_64/linux/release/homework4
Homework4/b/homework4
Homework4/b/homework4.o
Homework4/b/bin/x86_64/linux/release/homework4
Homework4/c/homework4
Homework4/c/homework4.o
Homework4/c/bin/x86_64/linux/release/homework4
Homework4/d/homework4
Homework4/d/homework4.o
Homework4/d/bin/x86_64/linux/release/homework4
Homework4/c/vectors.txt
Homework4/b/vectors.txt
Homework4/c/image.txt
Homework4/d/max.txt
Homework5/a/homework5
Homework5/a/homework5.o
Homework5/a/bin/x86_64/linux/release/homework5
Homework5/b/homework5
Homework5/b/homework5.o
Homework5/b/bin/x86_64/linux/release/homework5
Homework5/c/homework5
Homework5/c/homework5.o
Homework5/c/bin/x86_64/linux/release/homework5
Homework5/d/homework5
Homework5/d/homework5.o
Homework5/d/bin/x86_64/linux/release/homework5
Homework5/c/vectors.txt
Homework5/b/vectors.txt
Homework5/c/image.txt
Homework5/d/max.txt
Homework5/a/matrix.txt
Homework5/b/julia.png
Homework5/b/julia.ppm
Homework5/b/julia(1).png
Homework5/b/color.png
Homework5/b/red.png
Homework6/a/bin/x86_64/linux/release/homework5
Homework6/a/bin/x86_64/linux/release/homework6
Homework6/a/homework6
Homework6/a/matrices.txt
Homework6/b/bin/x86_64/linux/release/homework5
Homework6/b/bin/x86_64/linux/release/homework6
Homework6/b/homework6
Homework6/b/homework6.o
Homework6/b/matrices.txt
Homework8/a/bin/x86_64/linux/release/homework5
Homework8/a/bin/x86_64/linux/release/homework8
Homework8/a/homework8
Homework8/a/homework8.o
Homework8/b/bin/x86_64/linux/release/homework5
Homework8/b/color.png
Homework8/b/homework5
Homework8/b/homework5.o
Homework8/b/red.png
Homework8/c/bin/x86_64/linux/release/homework5
Homework8/c/homework5
Homework8/c/homework5.o
Homework8/c/vectors.txt
Homework6/a/homework6.o
