Exercises/Ex2/ex2
Exercises/Ex2/ex2.o
Exercises/Ex2/bin/x86_64/linux/release/ex2
Homework2/a/homework1a
Homework2/a/homework1a.o
Homework2/a/bin/x86_64/linux/release/homework1a
Homework2/b/homework1b
Homework2/b/homework1b.o
Homework2/b/bin/x86_64/linux/release/homework1b
Homework3/matrices.txt
